@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Nanum+Myeongjo:400,700');


html {
  min-height: 100%;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  min-height: 100%;
  margin: 0;
  color: #444;
}

a, 
a:link, 
a:visited, 
a:hover, 
a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

a:hover {
  color: #999;
  border-bottom: 1px solid #999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nanum Gothic Coding', monospace;
}

header {
  width: 100%;
  background-color: #222;
  color: #fff;
  margin: 0;
  text-align: center;
}

nav, .site-description {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  background-color: #222;
  color: #fff;
  width: 100%;
  padding-bottom: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul > li {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  margin: 0;
}

nav ul > li > a,
nav ul > li > a:link,
nav ul > li > a:visited,
nav ul > li > a:hover,
nav ul > li > a:active {
  color: #fff; 
  border-bottom: 1px solid #aaa;
}

nav ul > li > a:hover {
  border-bottom: 1px solid transparent;
}
  
footer > p {
  text-align: center;
}

#main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.content {
  padding: 2em;
}

.entryway-container #register-container, 
.entryway-container #login-container {
  padding: 1em;
}

.entryway-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.entryway-container input {
  font-family: monospace;
}

.entryway-container input[type=submit] {
  background: transparent;
  padding: 0.4em;
  width: 100%;
  border: 1px solid #777;
}

.entryway-container input[type=submit]:hover {
  border: 1px solid #000;
  cursor: pointer;
}

input[type=text], 
input[type=password] {
  width: 150px;
  padding: 0.4em;
}

.error-container ul {
  color: #e00;
  list-style: none;
  padding: 0;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-list > li {
  display: inline-block;

}

.ttt-board-container {
  display: flex;
  flex-flow: row wrap;
}

.ttt-board {
  padding: 1em;
  margin: 1em;
  font-family: 'Nanum Gothic Coding', monospace;
}

.ttt-board table {
  margin: 0 auto 0.3em auto;
  border: 2px solid #222;
  table-layout: fixed;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: monospace;
  border-collapse: collapse;
}

.ttt-board table td {
  cursor: default;
  height: 2em;
  width: 2em;
  border: 1px solid #777;
  text-align: center;
}

.ttt-board table td.movable {
  cursor: pointer;
}

.ttt-new-seek {
  margin: 1em;
}

#ttt-new-seek-btn {
  font-size: 1.3em;
}

.ttt-seeks-container {
  margin: 1em;
  display: flex;
  flex-flow: row wrap;
}

.ttt-seek {
  padding: 1em;
  transition: 0.2s background;
}

.ttt-seek:hover {
  background: #f8f8f8;
}

@media (max-width: 600px) {
  header {
    text-align: left;
  }

  header h1 {
    padding-left: 1em;
  }

  nav ul > li {
    display: block;
    text-align: left;
    padding-left: 2em;
  }
}
